<div class="container">
  <h1 class="text-center text-danger">List Article</h1>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search by article" style="width:300px" [(ngModel)]="searchArticle">
  </div>
  <button type="button" class="btn btn-primary" routerLink="/AddArticle">AddArticle</button>
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th>Article No</th>
          <th>Name Article</th>
          <th>Description</th>
          <th>Categorie</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of listArticle | articleFilter: searchArticle; let i=index">
          <td>{{i+1}}</td>
          <td>{{article.nameArticle}}</td>
          <td>{{article.description}}</td>
          <td>{{article.categorie}}</td>
          <td>{{article.prix}}</td>
          <td>
            <button type="button" class="btn btn-success" routerLink="/Update/{{i}}">update</button>
            <button type="button" class="btn btn-danger" (click)="deleteArticle(i)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
